{% extends "./app.twig" %}

{% block page %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Map [information]</b>
            </div>
            <div class="panel-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
{% endblock %}