{% include "layouts/header.twig" %}

<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-default auth">
            <div class="panel-heading">
                <h4 class="text-center"><strong>USER LOGIN</strong></h4>
            </div>
            <div class="panel-body">
                {% include "partial/flash.twig" %}
                <form class="form-horizontal" action="" method="post">
                    <div class="form-group">
                        <label for="username" class="col-md-3 control-label">User Name: </label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="username" name="username" value="" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password: </label>
                        <div class="col-md-7">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            <button type="submit" class="btn btn-primary"><strong>Login</strong></button>
                        </div>
                    </div>
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
</div>

{% include "layouts/footer.twig"  %}