{% extends "./app.twig" %}

{% block page %}
    <div class="row">
        <form action="{{ path_for("user.action") }}" method="post" id="users_form">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>User Management</b>
                    <div class="nav user_action">
                        <button class="btn btn-default navbar-btn" id="act_btn" name="action" value="add">Add</button>
                        <button class="btn btn-default navbar-btn" id="act_btn" name="action" value="del">Delete</button>
                    </div>
                </div>
                    <table class="table table-bordered dataTable display" id="users">
                        <thead>
                        <tr class="info">
                            <th id="user_login">User Name</th>
                            <th id="user_name">Full Name</th>
                            <th id="user_log">Last Login</th>
                            <th id="user_admin">Privilege Level</th>
                            <th id="user_status">Status</th>
                            <th id="user_check"><input type="checkbox" value="" name="check_all_users" id="check_all_users"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
            {{ csrf.field | raw }}
        </form>
    </div>
{% endblock %}