{% extends "./app.twig" %}

{% block page %}
    <div class="row">
        <form action="{{ path_for("device.action") }}" method="post" id="device_form">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Device Management</b>
                <div class="nav user_action">
                    <button class="btn btn-default navbar-btn" id="act_btn" name="action" value="add">Add</button>
                    <button class="btn btn-default navbar-btn" id="act_btn" name="action" value="del">Delete</button>
                </div>
            </div>
            <table class="table table-bordered dataTable display" id="device">
                <thead>
                <tr class="info">
                    <th id="dev_name">Device Name</th>
                    <th id="ip_addr">IP Address</th>
                    <th id="area_name">Area</th>
                    <th id="dev_status">Status</th>
                    <th id="dev_check"><input type="checkbox" value="" name="check_all_device" id="check_all_device"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
            {{ csrf.field | raw }}
        </form>
    </div>
{% endblock %}