<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Network</title>
    <link rel="shortcut icon" href="{{ base_url() }}/images/lin.gif" type="image/x-icon">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap/css/jquery.dataTables.min.css">
</head>
<body>